.cartModalWrapper {
	height: 100vh;
	width: 100vw;
	background-color: rgba(85, 85, 85, 0.5);

	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cartModal {
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 30px;
}

.cartModalClose {
	position: absolute;
	top: 5px;
	right: 10px;
	background: transparent;
	cursor: pointer;
	transition: 0.3s;
	border: 0;
	font-size: 20px;
}
.cartModalItems {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.cartModalTotal {
	align-self: center;
}
.cartModalItem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--light-gray);
	border-radius: 20px;
	padding: 10px;
}
