.blogSingle {
	display: flex;
	flex-direction: column;
	gap: 20px;

	padding: 20px;

	justify-content: center;
	align-items: center;
}
.img {
	width: 70vw;
	height: 50vh;
	background-size: cover;
	background-position: center center;
}
