.modalStyles {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	background-color: aqua;
}
.cart {
	display: flex;
	flex-direction: column;
}
.cartContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.cartItems {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.cartInfo {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.cartTotal {
	display: flex;

	gap: 20px;
}
.cartCheckout {
}
