.singleProductContent {
	display: flex;
	justify-content: space-around;
}
.singleProductInfo {
	flex: 1.5;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px 30px;
}
.singleProductImages {
	flex: 2;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}
.singleProductImageBox {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}
.singleProductImage {
	width: 400px;
	height: 400px;
	border-radius: 10px;
}
.singleProductSliderImage {
	border-radius: 10px;
	transition: 0.3s;
	cursor: pointer;
}
.singleProductSliderImage:hover {
	opacity: 0.75;
}

.singleProductSliderImage {
	width: 100px;
	height: 100px;
}
.singleProductImagePreview img {
	width: 300px;
	height: 300px;
}
.singleProductName h2,
.singleProductReviews h3 {
	font-weight: normal;
	margin: 10px 0;
}
.singleProductName h4 {
	color: var(--accent);
}
.singleProductReviews {
	display: flex;
	gap: 20px;
	align-items: center;
}

.similarProducts {
	padding: 20px;
}

.similarProductsContent {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
@media (max-width: 924px) {
	.singleProductSliderImage {
		width: 80px;
		height: 80px;
	}
	.singleProductImage {
		width: 300px;
		height: 300px;
	}
	.singleProductInfo {
		padding: 10px 15px;
	}
}
@media (max-width: 675px) {
	.singleProductContent {
		margin-top: 50px;
		flex-direction: column;
		align-items: center;
	}
	.singleProductImages {
		flex-direction: column;
	}

	.singleProductImageBox {
		flex-direction: row;

		order: 2;
	}
	.singleProductImagePreview {
		order: 1;
	}
	.singleProductInfo {
		align-items: center;
		padding: 5px;
	}
	.singleProductName h2 {
		font-size: 30px;
	}
	.singleProductName h4 {
		font-size: 20px;
	}
}
